<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/assets/css/style.css' />
</head>

<body>
  <h1>Page TEST</h1>
  <p>Welcome to page <%= title %>
  </p>
</body>

</html>